<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.r19.localservicefinder">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClientCredentials" />
        <activity android:name=".ClientLogin" />
        <activity android:name=".ClientRegister" />
        <activity android:name=".Home" />
        <activity android:name=".ServiceCredentials" />
        <activity android:name=".ServiceLogin" />
        <activity android:name=".ServiceRegister" />
        <activity android:name=".ClientForgotPassword" />
        <activity android:name=".ClientEmailSend" />
        <activity android:name=".ServiceForgotPassword" />
        <activity android:name=".ServiceEmailSend" />
        <activity android:name=".ServiceHomePage" />
        <activity android:name=".ClientHomePage" />
        <activity android:name=".ServiceInfoInsert" />
        <activity android:name=".ServiceEntry" />
        <activity android:name=".ServiceSearch" />
        <activity android:name=".ServiceResultNotFound" />
        <activity android:name=".AddSuccess" />
        <activity android:name=".ResultInList" />
        <activity android:name=".AfterSelectItem" />
        <activity android:name=".SelectItemDetail" />
        <activity android:name=".ClientFeedback" />
        <activity android:name=".SuccessClientFeedback" />
        <activity
            android:name=".ClientHome"
            android:label="@string/title_activity_client_home"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ProviderHome"
            android:label="@string/title_activity_provider_home"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
    </application>

</manifest>